@import 'mixins';

@font-face {
  font-family: MarvinVisions;
  src: url("../fonts/MarvinVisions-Bold.eot"),
    url("../fonts/MarvinVisions-Bold.woff") format('woff'),
    url("../fonts/MarvinVisions-Bold.woff2") format('woff2');
}

;

$colors: (primary: #482E53,
secondary: #FFB300,
gray: #8E8E8E,
);

$font-sizes: (text-mobile: 15px,
text-desktop: 16px,
h1-mobile: 60px,
h1-desktop: 90px,
h2-mobile: 40px,
h2-desktop: 55px,
h3-mobile: 30px,
h3-desktop: 35px,
h4-mobile: 20px,
h4-desktop: 35px,
status: 18px,
button: 16px,
);

$paddings: (section-mobile: 35px,
section-desktop: 40px,
);

$fonts: (primary: 'MarvinVisions',
secondary:'Raleway',
);

$line-heights: (mobile: 19px,
desktop: 20px,
);

$border-radius: 40px;
$skills-radius: 20px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

;

@function font-size($font-size) {
  @return map-get($font-sizes, $font-size);
}

;

@function padding($padding) {
  @return map-get($paddings, $padding);
}

;

@function font-family($font) {
  @return map-get($fonts, $font);
}

;

@function line-height($height) {
  @return map-get($line-heights, $height);
}

;





body {

  background-color: color(primary);
  color: white;

  .alternate-bg {
    background-color: white;
  }

  font-family: font-family(secondary),
  sans-serif;

  h1,
  h2,
  h3 {
    color: color(primary);
    font-family: font-family(primary), font-family(secondary);
  }

  ;

  h1 {
    font-size: font-size(h1-mobile);
  }

  h2 {
    font-size: font-size(h2-mobile);
  }

  h3 {
    font-size: font-size(h3-mobile);
  }

  h4 {
    font-size: font-size(h4-mobile);
  }

  p {
    line-height: line-height(mobile);
  }

  @include laptop {
    h1 {
      font-size: font-size(h1-desktop);
    }

    h2 {
      font-size: font-size(h2-desktop);
    }

    h3 {
      font-size: font-size(h3-desktop);
    }

    h4 {
      font-size: font-size(h4-desktop);
    }

    p {
      line-height: line-height(desktop);
    }
  }

  a {
    text-decoration: none;
    color: color(secondary);
  }

  .resume-btn form button,
  .portfolio-buttons div form button,
  .portfolio-footer div div a button {
    transition: .5s;

  }

  .resume-btn form button:hover,
  .portfolio-footer div div a button:hover {
    color: white;
    background-color: color(primary);
  }

  .portfolio-buttons div form button:hover {
    color: color(primary) !important;
    background-color: color(secondary) !important;
  }

}

.scroll-icon {
  animation: bounce 2s infinite;
  animation-delay: 3s;
}

header {
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  background-color: color(primary);
  opacity: 50;

  div {
    text-align: center;
    padding: 10px 0;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;

    li a {
      color: white;
      font-weight: bold;
    }
  }

  .logo {
    display: none;
  }

  @include laptop {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20%;
    justify-content: space-between;
    width: 60%;

    a {
      transition-duration: .5s;
    }

    .logo {

      a {
        font-size: font-size(h4-mobile);
        color: white;
        font-weight: bold;

      }

      display: block;
    }

    ul {
      padding: 15px 0;
      width: 400px;

      li a {
        font-weight: lighter;
        color: rgb(207, 207, 207);
      }
    }

    a:hover {
      color: color(secondary);
    }
  }
}

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h1 {
    font-size: font-size(h1-mobile);
    color: color(secondary);
  }

  p {
    padding: 20px 0;
    width: 60%;
    margin: 0 auto;
  }

  div {
    margin-top: 10px;
  }

  .scroll-icon {
    display: none;
  }

  @include laptop {
    .scroll-icon {
      
      display: block;
      position: absolute;
      bottom: 50px;
      left: 0;
      right: 0;
      margin: 0 auto;
    
      img { 
        width: 50px;
      }
    }
  }
}

.about {
  padding: padding(section-mobile) 0;
  text-align: center;
  color: black;

  img {
    margin: 30px 0 20px;
  }

  p {
    width: 80%;
    margin: 0 auto 45px;
    text-align: left;
  }

  h3 {
    margin-bottom: 15px;
  }

  .about-icons {

    div {
      display: inline;

      img {
        margin-top: 20px;
        height: 40px;
      }
    }
  }

  .resume-btn {

    button {
      padding: 20px 0;
      width: 250px;
      margin: 0px auto 35px;
      background-color: color(secondary);
      border-radius: 40px;
      border: none;
      font-family: font-family(secondary), sans-serif;
      font-size: font-size(text-desktop);
      font-weight: bolder;
      color: color(primary);
    }
  }

  @include laptop {
    width: 60%;
    margin: 0 auto;


    .about-text {
      margin: 35px auto;
      display: grid;
      grid-template-columns: 50% 50%;
    }

    .about-img {
      text-align: right;
      margin-right: 25px;
    }

    #contact {
      text-align: left;
      margin-left: 25px;

      p {
        margin: 0 0 35px;
      }
    }

    img {
      margin-top: 0px;
    }
  }
}

.skills {

  padding: padding(section-mobile) 0 45px;
  text-align: center;

  h2 {
    color: color(secondary);
  }

  .skills-columns {

    .skill-column {
      box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.75);
    }

    div {
      color: black;
      background-color: white;
      margin: 25px auto;
      border-radius: $skills-radius;
      max-width: 300px;
      padding: 25px 0;

      h3 {
        padding-bottom: 15px;
        border-bottom: 3px color(secondary) solid;
        width: 75%;
        margin: 0 auto;
      }

      h4 {
        color: color(primary);
        border-bottom: 1px color(secondary) solid;
        padding-bottom: 15px;
        width: 75%;
        margin: 0 auto;
      }

      ul {
        margin: 15px auto;
        text-align: left;
        width: 75%;

        li {
          margin-bottom: 5px;
        }
      }
    }
  }

  @include laptop {


    .skills-columns {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;

      div {
        width: 450px;
        max-width: 300px;

        li {
          padding-bottom: 10px;
        }
      }

      
      .skill-front {
        height: 500px;
      }

      .skill-back {
        margin-left: 25px;
        margin-right: 25px;
      }

      .skill-design {
        height: 350px;
      }
    }
  }

  @include desktop {
    .skills-columns {
      width: 60%;

      div {
        max-width: 350px;
      }

      
    }
  }
}

.portfolio {
  text-align: center;
  padding: padding(section-mobile) 0;


  h2 {
    margin-bottom: 35px;
  }

  h3 {
    margin-bottom: 35px;
  }

  h4 {
    margin: 25px 0;
    color: black;
    font-weight: bold;
    font-family: font-family(secondary), sans-serif;
  }

  h5 {
    color: color(gray);
    font-size: font-size(status);
  }

  p,
  li {
    color: black;

  }

  p {
    margin-top: 25px;
  }

  ul {
    margin-top: 15px;
    margin-left: 15px;

    li {
      margin-top: 10px;
    }
  }

  .portfolio-footer {
    margin-top: 100px;

    h3 {
      font-size: font-size(h4-mobile);
      font-family: font-family(secondary), sans-serif;
      color: black;
    }

    div {


      margin-top: 25px;

      p,
      div {
        display: inline;
      }

      button {
        border: none;
        border-radius: $border-radius;
        font-size: font-size(status);
        color: color(primary);
        background-color: color(secondary);
        padding: 10px 0;
        width: 125px;
        margin-left: 30px;
      }
    }
  }

  .portfolio-item {
    text-align: left;
    margin: 50px auto;
    width: 80%;

    img {
      width: 100%;
      max-width: 650px;
    }

    form {
      display: inline;
    }


    .portfolio-buttons {

      margin-top: 25px;


      div {
        display: inline;
      }

      img {

        width: 24px;
      }

      p {
        color: color(gray);
        display: inline;
        font-size: font-size(status);

        text-decoration: line-through;
      }

      button {
        border: none;
        border-radius: $border-radius;
        font-size: font-size(status);
        color: white;
        background-color: color(primary);
        padding: 15px 0;
        width: 150px;
        margin-right: 25px;

      }

    }
  }

  @include laptop {

    .portfolio-item {
      width: 80%;
      margin: 0 auto 65px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      img {
        max-width: 450px;
      }

      .portfolio-item-desc {
        margin-left: 25px;

        h4 {
          margin-top: 0;
        }

        p {
          width: 500px;
        }
      }

      .portfolio-image {
        text-align: right;
        margin-right: 25px;
      }
    }
  }

  @include desktop {

    .portfolio-item {
      width: 60%;

      img {
        max-width: 600px;
      }

      .portfolio-item-desc {

        h4 {
          margin-top: 0;
        }

        p {
          width: 500px;
        }
      }
    }
  }
}

footer {
  text-align: center;
  padding: 25px 0;
}

@keyframes bounce {

  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-15px);
  }

  60% {
    transform: translateY(-12px);
  }
}